*{ margin: 0px;
    padding: 0px; 
}
html, body{ width: 100%;
    height: 100%;
}
/* Стили для шапки страницы */
header{ width: 100%;
    height: 80px;
    color: whitesmoke; 
    border-radius: 0px 0px 40px 40px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: -webkit-linear-gradient(left, #156F88 18%, #1E0651 100%) }
/* Стили для файла "index.php" */
/* Стили для меню */
#menu{ height: 100px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
/* Стили для элементов меню*/
.class{ text-align: center;
    padding-top: 15px; 
    font-size: 1.4em;
    background-image: -webkit-linear-gradient(top left, #E7BE5D 10%, #93793D 90%);
    margin: 10px;   
    width: 310px;
    height: 45px;
    border-radius: 1.5em;
}
.class:hover{
    background-image: -webkit-linear-gradient(right, #7656BA 10%, #452096 90%);
}
/* Стили для блока управления всем контентом на осн. странице */
.prelude{ padding-top: 7%; 
    margin: 2vh; 
    width: 100%;
    color: whitesmoke;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap ;
}
.realm{ width: 49.9vw;
    margin: 2.75%;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
}
#datafield{ width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;}
#fork{ width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
.button{ width: 59vw;
    margin: 2vh;
    height: 60px; 
    cursor: pointer;
    border-radius: 30px;
    margin-top: 1vh;
    font-size: 20px;
    text-align: center;
    color: white;
    background-image: -webkit-linear-gradient(top, #445BBA 0%, #6842BA 100%);
    border: 1px solid #233995;}
/* Особые стили для каждой страницы сайта */
.startMain{ background-image: url("background/blue.jpg");
    background-blend-mode: multiply;
    background-color: #233995;
    background-position: center;}
.authoMain{ background-image: url("background/blue2.jpg");
    background-blend-mode: multiply;
    background-color: #233995;
    background-position: center;}
.forkMain { background-image: url("background/violet.jpg");
    background-blend-mode: multiply;
    background-color: #403064;
    background-position: center;}
.gameMain{ background-image: url("background/red.jpg");
    background-blend-mode: multiply;
    background-color: #811313;
    background-position: center; }
/* Единый стиль для всех страниц сайта */
#main{min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap ;}
/* Стили для файла "fork.html" */
/* Стили для кнопки по центру экрана */
.gameStart{
    width: 300px;
    height: 90px;
    background-image: -webkit-linear-gradient(top, #156F88 10%, #043A49 90%);
    font-size: 30px;
    color: #E7B541;
    text-align: center;
    border-radius: 2.6em;
    margin-left: 1%;
    padding-top: 40px;
    margin-top: 17%;
}
.gameStart:hover{
    background-image: -webkit-linear-gradient(top, #7656BA  10%, #061550 90%);
    color: rgb(231, 118, 65);
}
.gameStart:active{
    background-image: -webkit-linear-gradient(bottom, #452096  30%, #043A49 100%);
    color: rgb(231, 118, 65);
}
/* Стили для подвала страницы */
/* Основное тело подвала */
.footer{
    width: 100%;
    height: 8em;
    border-radius: 40px 40px 0px 0px ;
    margin-top: 20%;
    border-radius: 40px, 40px, 0px, 0px;
    background-image: -webkit-linear-gradient(right, #452096  30%, #156F88 100%);
    
    text-align: center;
}
/* Стили для группы кнопок */
.difficultySetup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap ;
}
/* Стили для каждой кнопки отдельно */
.diffMode{
    width: 310px;
    margin: 10px;   
    height: 1.6em;
    padding-top: 0.7%;
    margin-top: 1.1% !important; 
    border-radius: 2em;
    text-align: center;
    font-size: 26px;
    background-image: -webkit-linear-gradient(bottom right, #E7BE5D 10%, #93793D 90%);
    color: whitesmoke;
}
.diffMode:hover{
    background-image: -webkit-linear-gradient(right, #7656BA 10%, #452096 90%);
}
/* Стили для надписей в подвале сайта и на главной кнопке */
.jSomeWords{
    color: #E7BE5D;
    font-size: 36px;
}
.jSomeWords a{
    text-decoration: none;
    color: #E7BE5D;
}
/* Стили для файла "game.html" */
/* Стили для основного игрового поля */
.playground{
    position: absolute;
    width: 800px;
    height: 800px;
    border: 1px solid black;}
/* Открыть с помощью live server и доделать*/

/* Режимы под различные устройства */
@media(max-width: 1799px){
    .prelude{ padding-top: 15%;}
    header{ height: 160px;
        background-image: -webkit-linear-gradient(top, #156F88 45%, #1E0651 100%);
        border-radius: 0px 0px 40px 40px; }
    #realm{ width: 53vw;
        height: 40px;
        border-radius: 20px;
        font-size: 24px; }
    .preface{ margin: 15px;
        font-size: 30px; }
    .gameStart{margin-top: 26%;}
}
@media(max-width: 989px){
    .prelude{ padding-top: 36%;}
    header{ height: 240px;
        border-radius: 0px 0px 80px 80px; }
    .preface{ margin: 10px;
        font-size: 24px; }
    #logo{ position: absolute;
        margin-top: 20px; }
    #menu{ height: 80px;
        margin-top: 100px; }
    .class{ height: 40px;
        padding-top: 12px; }
    .gameStart{margin-top: 41%;}
    .playground{
        width: 576px;
        height: 576px;}
}
@media(max-width: 659px){
    .prelude{ padding-top: 93%;}
    .preface{ margin: 10px;
        font-size: 1.5em; }
    header{ height: 310px;
        border-radius: 0px 0px 50px 50px; }
    #logo{ position: absolute;
        margin-top: 40px; }
    #menu{ height: 80px;
        margin-top: 130px; }
    .class{ height: 30px;
        padding-top: 10px; }
    #realm{ width: 50vw;
        height: 30px;
        border-radius: 15px;
        font-size: 18px; }
    .gameStart{margin-top: 105vw;
    }
    .playground{
        width: 256px;
        height: 256px;}
}
